@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --base-color : #77726E;
}
body {
    min-height: 90vh;
    background-color: #c0d6ff;
    background: linear-gradient(to right, #e2e2e2, #CCCED2);
}

.header {
    display: flex; 
    background: #ffffff;
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    height: 3rem; 
    padding: 0 1.5rem; 
    position: fixed; 
    top: 0;
    /* z-index: 1000;  */
}

.user-account {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.user-account .user-profile {
    display: flex;
    align-items: center;
    color: var(--base-color);
}

.user-account img{
    width: 30px;
    border-radius: 50%;
}

.user-account h3 {
    font-size: 0.8rem;
    font-weight: 500;
}

.user-detail {
    margin-left: 10px;
    white-space: nowrap;
}

.user-account span{
    font-size: 0.6rem;
    font-weight: 500;
    display: block;
    margin-top: 0;
}

.sidebar:hover .user-account{
    background: #ffffff2d;
    border-radius: 4px;
}

.sidebar-header img {
    width: 42px;
    border-radius: 50%;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 85px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: var(--base-color);
    padding: 25px 20px;
    transition: all 0.4s ease;
}

.sidebar:hover{
    width: 260px;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header h3{
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    margin-left: 23px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 70%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links h4 span{
    opacity: 0;
}

.sidebar:hover .sidebar-links h4 span{
    opacity: 1;
}

.sidebar-links h4{
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
    white-space: nowrap;
    position: relative;
}

.sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #1c3b58;
    transform-origin: right;
    transition-duration: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator{
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #dbd4d4e3;
    font-weight: 500;
    padding: 15px 10px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 0.8em;
}

.sidebar-links li a:hover {
    background: #ffffff2d;
    color: #fff;
    border-radius: 15px;
}

.main-content {
    background-color: #ffffff;
    height: 85vh;
    width: 85%;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 6%;
    padding: 40px 50px;
    
}
.profile-section{
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    
}

.profile-image img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* padding: 15px; */
}
.view-profile-card{
    padding: 50px 50px;
    border-radius: 8px;
}
.top-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.top-profile div:last-child{
    margin-left: auto;
}
.top-profile h4{
    font-size: 1.5rem;
    color: var(--base-color);
}

.edit-profile-card {
    /* background-color: #f8f9fa; */
    border-radius: 8px;
}
.view-profile-card, .edit-profile-card{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.view-profile-card p {
    font-size: 0.9rem;
    color: var(--base-color);
}

.info-profile{
    margin-top: 20px;
    color: var(--base-color);
}
    
form input, .info-profile input{
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar:hover + .main-content {
    margin-left: 280px; 
    width: 70%;
}


/* Button styling */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-success {
    margin-top: 20px; 
}

.hidden {
    display: none;
}


form label {
    font-size: 0.7rem;
    margin: 10px 0 5px;
    text-align: left; 
    display: block;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--base-color);
    border-radius: 4px;
}

.form-group-row{
    width: 100%;
    display: flex;
    gap: 30px;
    text-align: left;
}

.form-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 30px;
    /* width: 100%; */
}
.form-group label{
    text-align: left;
}
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btn-edit {
    color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;  
    padding: 0;                    
    border: none;           
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-edit span{
    margin-left: 5px;
}

.btn-edit:hover, .btn-edit span:hover {
    transform: scale(1.2);
    color: #AEA59D;
}

.btn-edit .material-symbols-outlined{
    font-size: 20px;
    color: var(--base-color);
}

.material-symbols-outlined {
    color: white;

}

.btn-success {
    background-color: var(--base-color);
    color: white;
}

.btn-danger {
    background-color: #95414a;
    color: white;
    margin-left: 15px;
}

.btn-success:hover, .btn-danger:hover {
    transform: scale(1.1); 
}

.btn-success, .btn-danger {
    transition: transform 0.3s ease; 
}


/* Responsive adjustments */
@media (max-width: 430px) {
    .main-content {
        margin-left: 0;
    }

    .main-content h2, .main-content h4 {
        font-size: 1.25rem;
    }
}


@media (max-width: 768px) {
    .main-content {
        margin-left: 85px;
        margin-top: 8%;
    }

    .sidebar {
        width: 60px;
    }

    .sidebar:hover {
        width: 200px;
    }

    .reports-table {
        min-width: 800px;
    }
}


