/* General Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --main-color: #176B87;
    --darker-main: #12556b;
    --white: #ffffff; 
}

/* Body and Container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c0d6ff;
    background: linear-gradient(to left, #e2e2e2, #c9f1ff);
    margin: 0;
}

.container {
    max-width: 780px; 
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h2 {
    font-weight: 700;
    color: var(--main-color);
    text-align: center;
    margin-top: 5px;
}

/* Main Group Layout */
.main-group {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    width: 100%;
}

.left-group,
.right-group {
    flex: 1;
}

.dateGender-group{
    display: flex;
    gap: 20px;
}
.form-group label {
    color: #6c757d;
}


.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}



/* Button Styling */
button[type="submit"] {
    width: 250px; 
    margin-top: 10px; 
}

.btn-primary {
    width: 250px;
    background-color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--darker-main);
}

/* Text Styling */
.form-text.text-muted {
    font-size: 0.85em;
    color: #6c757d;
}

.text-danger {
    font-size: 12px;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-group {
        flex-direction: column; /* Stack left and right groups vertically */
        gap: 10px;
    }

    .left-group,
    .right-group {
        width: 100%; /* Take full width on smaller screens */
    }

    button[type="submit"] {
        width: 100%; /* Button takes full width for better usability */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px; /* Reduce padding for smaller screens */
    }

    h2 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}
